<div class='container'>
    <div class="jumbotron text-center ng-scope">
        <h1>Cognitive Event-Correlation with IBM OpenWisk</h1>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Microservices</div>
        <div class="panel-body">


            <div class="row">
                <div ng-repeat='category in cont.categories' gm-on-drop='cont.getDropHandler(category)'>
                    <div style='min-height:50px'>


                        <div class="col-md-12 col-sm-12 ">
                            <div class="col-md-3 col-sm-3  " ng-repeat='item in category.items'>
                                <span style="width:100%; margin:10px" class="btn btn-primary" gm-draggable='{ category: category, item: item }'>
                            {{item.name}}
                          </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-md-12">


            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="2" style="position: absolute; z-index: 1; top: 80px;" xml:space="preserve">

            <path id="line1"   class="path" fill="#FFFFFF" stroke="#000000" stroke-width="4" stroke-miterlimit="10" d="M55, 0 H800 0"/>

          </svg>
            <div class="row">

                <div class="col-md-2" style=" z-index:3;">
                    <!-- <div id="gate" class="card card-inverse card-danger text-xs-center">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p>Gateway</p>
                                <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                        </div>
                    </div> -->
                    <div id="gate" class="btn btn-danger pulse" style="width: 100%; height: 110px; margin-bottom:20px">
                        Gateway
                    </div>
                </div>



                <div class="col-md-8 ">
                    <div class='panel panel-default'>
                        <div class='panel-heading'>
                            <span class='panel-title'>The Bus</span>
                        </div>

                        <div class="panel-body">


                            <div class="row">
                                <div ng-repeat='category in cont.categories2' gm-on-drop='cont.getDropHandler(category)'>
                                    <div class="col-md-12 col-sm-12" style="min-height:45px">
                                        <div class="col-md-3 col-sm-3" ng-repeat="item in category.items " style="z-index:3;">

                                            <div class="btn-group btn-group-justified" style="margin:10px">

                                                <a class="btn btn-primary " gm-draggable='{ category: category, item: item }'>  {{item.name}} </a>
                                                <a ui-sref="detail({ serviceName: item.name })" class="btn btn-info"><span class="fa fa-pencil fa-3"></span></a>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="wsk" class="col-md-2 " style=" z-index:3;">
                    <div class="btn btn-danger pulse" style="width: 100%; height: 110px; margin-bottom:20px ">
                        Whysk
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<style>
    body {
        background-color: #4b515d;
    }

    .pulse {
        animation: pulse 2s infinite;
    }

    .pulse:hover {
        animation: none;
    }

    @-webkit-keyframes pulse {
        0% {
            -webkit-box-shadow: 0 0 0 0 rgba(244, 67, 45, 0.7);
        }
        70% {
            -webkit-box-shadow: 0 0 0 10px rgba(244, 67, 45, 0.7);
        }
        100% {
            -webkit-box-shadow: 0 0 0 0 rgba(244, 67, 45, 0.7);
        }
    }

    @keyframes pulse {
        0% {
            -moz-box-shadow: 0 0 0 0 rgba(244, 67, 45, 0.7);
            box-shadow: 0 0 0 0 rgba(244, 67, 45, 0.7);
        }
        50% {
            -moz-box-shadow: 0 0 0 5px rgba(244, 67, 45, 0.7);
            box-shadow: 0 0 0 5px rgba(244, 67, 45, 0.7);
        }
        100% {
            -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        }
    }

    .path {
        stroke-dasharray: 20;
        animation: dash 10s linear infinite;
    }

    @keyframes dash {
        to {
            stroke-dashoffset: 1000;
        }
    }
</style>
