<div class='container'>

    <div class='panel panel-default' ng-repeat='category in categories' gm-on-drop='getDropHandler(category)'>
        <div class='panel-heading'>
            <span class='panel-title'>Microservices</span>
        </div>
        <div class="row" style='height:65px'>
            <div class="col-md-12">
                <div class="col-md-3 " ng-repeat='item in category.items'>
                    <span ng-style="{width: 100+'%'}" style=" margin:10px" class="btn btn-info btn-lg " gm-draggable='{ category: category, item: item }'>
             {{item.name}}
           </span>
                </div>

            </div>
        </div>
    </div>



    <div class="row">






        <div class="col-md-2">
            <div class="btn btn-danger" style="width: 100%; height: 110px;">
                Gateway
            </div>


        </div>

        <div class="col-md-8 ">
            <div class='panel panel-default' ng-repeat='category in categories2' gm-on-drop='getDropHandler(category)'>
                <div class='panel-heading'>
                    <span class='panel-title'>The Bus</span>
                </div>
                <div class="row " style='height:65px'>
                    <div class="col-md-12 ">
                        <div class="col-md-3 " ng-repeat="item in category.items ">

                            <span ng-style="{width: 100+ '%'} " style=" margin:10px " class="btn btn-info btn-lg " gm-draggable='{ category: category, item: item }'>
                      {{item.name}}
                    </span>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-2 ">
            <div class="btn btn-danger" style="width: 100%; height: 110px;">
                Whysk
            </div>
        </div>

    </div>
