<div class="container">
    <!-- ui-view-anchor -->
    <div ui-view="">
        <!-- <ol class="breadcrumb">
            <li><a href="#/struct">Home</a></li>
            <li class="active">{{detail.serviceName}}</li>
        </ol> -->
        <div class="jumbotron text-center ng-scope">
            <h1>{{detail.serviceName}} configuration</h1>
            <!--<button ng-click="detail.add()">New Item</button>-->
            <div class="">
                <button class="btn btn-primary" ng-click="detail.add()">New Item</button>
                <!-- <div class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus" style=""></span></div> -->
            </div>


        </div>


        <form>
            <div class="form-group ">

                <div ng-repeat="item in detail.items">
                    <div class="jumbotron">

                        <div class="form-group row">
                            <label class="col-xs-2 col-form-label">Parameter</label>
                            <div class="col-xs-10">
                                <input class="form-control" type="text" placeholder="{{item.questionPlaceholder}}" ng-model="item.question">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xs-2 col-form-label">Wert</label>
                            <div class="col-xs-10">
                                <input class="form-control" ng-class="{'blockInput': !item.inlineChecked}" type="text" placeholder="gewünschter Wert" ng-model="item.text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-email-input" class="col-xs-2 col-form-label">Aktivieren</label>
                            <div class="col-xs-10">
                                <input class="form-control" type="checkbox" name="check" value="inline" ng-model="item.inlineChecked">

                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </form>


    </div>

</div>

<style media="screen">
    .footer {
        position: absolute;
        width: 100%;
        clear: both;
        bottom: auto;
        padding: 0;
        margin: 0;
        /* ATTENTION! The following elements below
    can be set to whatever your heart desires */
        height: 30px;
        /* REMEMBER height = padding-bottom */
        background: #333;
    }
</style>
</style>
